*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}
section{
    text-align: center;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
#programa{
    width: 100%;
}
#programa h1{
    width: 100%;
    background-color: rgb(100, 100, 100);
    color: whitesmoke;
    padding: 30px;
}
#programa input{
    margin: 10px;
}
#res{
    display: inline-flex;
    justify-content: center;
}
.contenido{
    text-align: left;
}
#resultado{
    text-align: left;
}