*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body{
    display: flex;
}
.titulo{
    margin: 20px;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
#contenedor-titulo{
    width: 100%;
    text-align: center;
    padding: 40px 15px;
}
.contenido{
    width: 50%;
    height: 100%;
    border: 2px solid #343A40;
    padding: 20px;
}
#opciones-tema{
    width: 100%;
    padding: 15px;
    display: flex;
    text-align: center;
}
.form-check{
    width: 100%;
}
.form-check label{
    font-size: 20px;
}
#imagenes-contenedor{
    text-align: center;
}
#imagenes-navidad{
    display: none;
}
#imagenes-independencia{
    display: none;
}
#imagenes-programador{
    display: none;
}
.foto{
    margin: 10px auto;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    box-shadow: 2px 2px 2px #c8c6c6;
    border: 1px solid #c36839;
    display: block;
    background-color: #343A40;
}
.galeria{
    display: inline-block;
    width: 50px;
    background-color: #fff;
}
#texto-inputs{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.form-control{
    width: 100% !important;
}
#texto-principal{
    padding: 0px 30px;
    width: 50%;
}
#texto-cuerpo{
    padding: 0px 30px;
    width: 50%;
}
#textcuerpo-tarjeta{
    height: 100%;
}
#contenedor-color{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
#color{
    width: 45%;
}
#btn-aceptar{
    text-align: center;
    width: 45%;
}
#contenedor-tarjeta{
    width: 50%;
    border: 2px solid #343A40;
}
#forma-tarjeta{
    width: 50%;
}
#fondo-tarjeta{
    min-width: 800px;
    max-width: 800px;
    min-height: 800px;
    max-height: 800px;
    border: 1px solid #343A40;
    background-color: #343A40;
    margin: 94px auto;
}
#imagen-back{
    background-color: white;
    min-width: 700px;
    max-width: 700px;
    min-height: 700px;
    max-height: 700px;
    margin: 50px auto;
}
#imagen-tarjeta{
    min-width: 700px;
    max-width: 700px;
    min-height: 700px;
    max-height: 700px;
    padding: 75px;
    opacity: 0.8;

}
#diseño-titulo{
    min-width: 550px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}
#diseño-subtitulo{
    min-width: 550px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}
#diseño-autor{
    min-width: 550px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
}
#diseño-cuerpo{
    min-width: 550px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: justify;
}
#diseño-autor{
    min-width: 550px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: end;
}
#contenedor-tarjeta h2{
    font-size: 70px;
}
#contenedor-tarjeta h4{
    font-size: 40px;
}
#contenedor-tarjeta p{
    font-size: 25px;
}
#musicaBtn{
    display: none;
    margin: 0px auto;
}